h1, h2 {
  text-align: center;
}

main {
  margin: auto;
}

.game-field {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 50%;
  max-width: 300px;
  aspect-ratio: 1 / 1;
  background-color: burlywood;
  border: black 2px double;
  border-radius: 10px;
}

.game-field:hover {
  cursor: url("../image/hammer.png"), auto ;
}

.hole {
  margin: 10%;
  border-radius: 50%;
  box-sizing: border-box;
  width: 30%;
  aspect-ratio: 1 / 1;
  border: black solid 1px;
  background-color: gray;
  align-content: center;
  text-align: center;
}

.goblin {
  background-image: url("../image/goblin.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}
